{% load static %}
{% load staticfiles %}
<!doctype html>

<html lang="en">

<head>

<meta charset="utf-8">

<!-- Js for collapsible -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- title -->
<title>Curriculum Vitae</title>
<link rel="shortcut icon" href="{% static 'projectInsider/images/title.png' %}" />
<!-- ---- -->

<script type="text/javascript">

/* collapsible */

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

/* sidenav */

$(document).ready(function(){

  $('#sidenav-1').sidenav({ edge: 'left' });
});       

</script>
<!-- ---- -->

<style type="text/css">
  
/* collapsible rotation button */

  .collapsible li.active i {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  }

/* DIvider profile */

  .vl {
    border-left: 0.5vh 
    solid olivedrab;
    height: 5vh;
    top: 0;
  }

/* just for all html font */

  html * {
    font-family: URW Gothic L;;
  }

/* Fixed sidenav */

  header, main {
  padding-left: 20vh;
}

footer {
  padding-left: 10vh;
}

@media only screen and (max-width : 10vh) {
  header, main, footer {
    padding-left: 0;
  }
}

</style>
</head>

<body bgcolor="#464646" style="font-family:URW Gothic L">

  <!-- Header -->
  
  <header>

  <!-- sidenav -->
<div>

<ul id="sidenav-1" class="sidenav sidenav-fixed" style="max-width : 30vh">
  <li><a style="font-size: 4vh; margin-bottom: 10vh;" class="subheader w3-text-teal">Curriculum Vitae</a></li>
  <li><a href="#Perfil">Perfil</a></li>
  <li><a href="#Aptitudes">Aptitudes</a></li>
  <li><a href="#Experiencia">Experiencia</a></li>
  <li><a href="#Contacto">Contacto</a></li>
  
</ul>

</div>        


  </header>

<!-- ----- -->
  <main >


  <div class="container amber" style="margin-top: 3vh; margin-bottom: 3vh; margin-top: 3vh;" id="Perfil">
    <div class="row" style="color:black; ">
      <div class="col s6 push-s6">
          <img src="{% static 'projectInsider/images/perfilR.jpg' %}" class="imgPerfil circle responsive-img left" alt="avatar" style="width:300px; margin-top: 3vh; margin: 2vh;
          border:0.5vh solid white;
          border-radius: 500px;
          -webkit-border-radius: 500px;
          -moz-border-radius: 500px;">
      </div>    
      
      <div class="col s6 pull-s6" style="margin-top: 6vh; ">
        <h1 style="font-size: 7vh; margin-top: 1vh; margin-left: 12vh;">Bruno Jular</h1>
      </div>

      <div class="col s2 pull-s6" style="margin-top: 4vh;">
        <h1 style="margin-left: 12vh; font-size:3vh;">Nacimiento</h1>
      </div>

      <div class="col s1 pull-s6" style="margin-top: 4vh; ">
        <div class="vl" style=" margin-left: 7.5vh;"></div>
      </div>

      <div class="col s3 pull-s6" style="margin-top: 4vh; ">
        <h1 style="font-size:3vh;">23/06/2000</h1>
      </div>


      <div class="col s2 pull-s6" style="margin-top: 2vh;">
        <h1 style="font-size:3vh;  margin-left: 12vh;">Ubicación</h1>
      </div>

      <div class="col s1 pull-s6" style="margin-top: 2vh; ">
        <div class="vl" style=" margin-left: 7.5vh;"></div>
      </div>

      <div class="col s3 pull-s6" style="margin-top: 2vh; ">
        <h1 style="font-size:3vh;">Córdoba - Argentina</h1>
      </div>

      <div class="col s2 pull-s6" style="margin-top: 2vh;">
        <h1 style="font-size:3vh;  margin-left: 12vh;">Título</h1>
      </div>

      <div class="col s1 pull-s6" style="margin-top: 2vh; ">
        <div class="vl" style=" margin-left: 7.5vh;"></div>
      </div>

      <div class="col s3 pull-s6" style="margin-top: 2vh; ">
        <h1 style="font-size:3vh;">Técnico Programador - ITS Villada</h1>
      </div>
<!--
      <div class="col s6 pull-s6" style="margin-top: 6vh; ">
        <h1 style="font-size:3vh; margin-left: 12vh">Introducción</h1>
      </div>
-->

    </div>

<!-- ----- -->
    <div class="divider"></div>
  
  
    <div class="col s12 amber" style="color:black;">
    

    <h1 style="margin-top: 2vh; margin-left: 40%;" id="Aptitudes"> Aptitudes </h1>

    <h2 style="margin-top: 2vh; margin-left: 25%;margin-top: 4vh;"> Programación </h2>

<!--- ------------ --->

    <h3 style="margin-top: 2vh; margin-left: 5%;"> Lenguajes </h3>

      <h5 style="margin-top: 2vh; margin-left: 3vh; "> Python </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:60%;"> a</div>
      </div>

      <h5 style="margin-top: 2vh; margin-left: 3vh; "> Java </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:60%;"> a</div>
      </div>

      <h5 style="margin-top: 2vh; margin-left: 3vh; "> JavaScript </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:60%;"> a</div>
      </div>

      <h5 style="margin-top: 2vh; margin-left: 3vh; "> Html5 </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:80%;"> a</div>
      </div>

      <h5 style="margin-top: 2vh; margin-left: 3vh; "> Css3 </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:80%;"> a</div>
      </div>

<!--- ------------ --->

    <h3 style="margin-top: 2vh; margin-left: 5%;"> Herramientas </h3>


    <h5 style="margin-top: 2vh; margin-left: 3vh; "> GitHub </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:70%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Trello </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:90%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Docker </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:30%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Excel </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:70%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> DBeaver </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:60%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Firebase </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:60%;"> a</div>
    </div>


    <h3 style="margin-top: 2vh; margin-left: 5%;"> Frameworks </h3>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Django </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:70%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> AndroidStudio </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:80%;"> a</div>
    </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> ArduinoIDE </h5>
    
    <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
    <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:30%;"> a</div>
    </div>

    <h3 style="margin-top: 2vh; margin-left: 5%;"> Data </h3>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> SQL </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:70%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> MongoDB </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:25%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> PostgreSQL </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:25%;"> a</div>
      </div>                 
    
<!--- ------------ --->

    <h2 style="margin-top: 2vh; margin-left: 25%;"> Diseño </h2>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> InkScape </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:90%;"> a</div>
      </div> 

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Gimp </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:80%;"> a</div>
      </div> 

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Blender para impresión 3D </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:65%;"> a</div>
      </div> 

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> OpenShot </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:90%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Audacity </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:90%;"> a</div>
      </div>

<!--- ------------ --->    

    <h2 style="margin-top: 2vh; margin-left: 25%;"> Electromecánica </h2>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Interpetación de planos </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:65%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Manejo de Torno </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:40%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Manejo de fresa CNC </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:15%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Soldadura oxiacetilénica </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:75%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Soldadura de metal por arco </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:75%;"> a</div>
      </div>



<!--- ------------ --->

    <h2 style="margin-top: 2vh; margin-left: 25%;"> Idiomas </h2>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Inglés </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:90%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Alemán </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:7%;"> a</div>
      </div>

    <h5 style="margin-top: 2vh; margin-left: 3vh; "> Portugués </h5>
      
      <div class="w3-light-grey w3-round-large" style="margin-top: 2vh; margin-left: 7vh; margin-right: 7vh;">
      <div class="w3-container w3-teal w3-center w3-text-teal w3-round-large" style="width:20%;"> a</div>
      </div>


</div>
<!-- ----- -->

    <div class="divider" style="margin-top: 2vh;"></div>
  
  
    <div class="col s12 amber" style="color:white;">

      <h1 class="w3-text-black" style="margin-top: 2vh; margin-bottom: 2vh;margin-left: 37%;" id="Experiencia"> Experiencia </h1>

<!-- Collapsible -->

    <ul class="collapsible popout w3-text-black amber" style="margin-left: 2vh; margin-right: 2vh;">
      
      <li>
        <div id="click_advance" class="collapsible-header"><i  class="material-icons">keyboard_arrow_right</i>IncluIT: Pasantías estudiantiles</div>
        <div class="collapsible-body">
        <h3>2 al 27 de Julio del 2018</h3>
        <h4>Tecnología: Django</h4>
        <span>
          > IncluIt: Humberto 1° 670, Córdoba.
        </br>
          > Scrum Master, Analista en sistemas, Tester.

      </span>
    </div>
      <div class="collapsible-body">
      <a class="teal-text" target="_blank" href="https://github.com/Grupo2Villada/proyectoFAT" 
      style="font-size: 4vh; margin-left: 35%">GitHub</a>
      <a class="teal-text" target="_blank" href="https://trello.com/b/eTTSMJPb/proyecto" style="font-size: 4vh; margin-left: 4vh">Trello</a>

      </div>
      </li>
      
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>PillDose</div>
        <div class="collapsible-body">
        <h3>Jornada estudiantil 2018</h3>
        <h4>Tecnología: AndroidStudio</h4>
        <span>
          > Realización de una app de android para la materia Aplicación de nuevas tecnologías.
        </br>
          > Programación de aplicación para un “dispositivo pastillero” junto al area de electrónica.
        </br>
          > Aplicación para personal a cargo de uno o varios pacientes. Permite programar según un horario, la toma adecuada de medicación en personas con trastornos conductuales o con pérdida de memoria. Mediante bluetooth se envía la información de manera tal, que quede configurado cada pastillero.
        </span>
      </div>
        <div class="collapsible-body">
        <a class="teal-text" target="_blank" href="https://github.com/JularBruno/PillDose" 
        style="font-size: 4vh; margin-left: 42%">GitHub</a>
        
        </div>
      </li>

      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>TheFitpack</div>
        <div class="collapsible-body">
        <h3>Junio a Septiembre 2018</h3>
        <h4>Tecnología: WordPress</h4>
        <span>
          > Trabajo virtual con cliente residiendo en Barcelona, España.
        </br>
          > Realización de una página de presentación, demostración y organización de clases de un gimnasio al aire libre.
        </span>
      </div>
        <div class="collapsible-body">
        <a class="teal-text" target="_blank" href="https://thefitpack.com/" 
        style="font-size: 4vh; margin-left: 40%">TheFitPack</a>

        </div>
      </li>
      
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Personal en servicio de eventos</div>
        <div class="collapsible-body">
        <span>
          > Armado de salón y atención de los invitados al evento
        </br>
          <p> </p>
        </br>        
          > Salón Avril – Temporada diciembre 2017 y diciembre a febrero 2018
        </br>  
          > Barrancas del Chateau, Salón de eventos – Evento diciembre 2018 
        </br>  
          > Estancia Causana – Evento abril 2018
        </span>
        </div>
      </li>
      
      <li>
        <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Empresa familiar</div>
        <div class="collapsible-body">
        <span>
          > Negociación con clientes.
        </br>  
          > Transporte de productos y paquetes.
        </br>    
          > Compra de materia prima.
        </br>    
          > Organización y coordinación de personal.
        </br>    
          > Distribución de actividades.
        </br>    
          > Administración, gestión en general.
        </br>    
          > Control y actualización de precios.
        </br>    
          > Control de calidad.
        </br>    
          > Realización de trabajos particulares en matricería y piezas de caucho.

        </span>
        </div>
      </li>

    </ul>
          


<!-- Contacto -->
    <div class="divider" style="margin-top: 2vh;"></div>

    </div>

    <div class="col l6 s12 white" style="margin-bottom: 5vh;">
          
          <h1 class="black-text" id="Contacto" style="margin-left: 40%; margin-bottom: 2vh;">Contacto</h1>

          <p class="black-text text-lighten-4"></p>
        
        <div class="col l4 offset-l2 s12">
          <a class="black-text" href="https://github.com/JularBruno/projectInsider" style="margin-left: 8%;">GitHub de ésta página!</a>
          <ul>

          <a class="teal-text" href="https://github.com/JularBruno" style="margin-left: 8%;">GitHub</a>
          <ul>
            <li><a class="black-text text-lighten-3" style="margin-left: 8%;">Telefono: +54 351 261-3917</a></li>
            <li><a class="black-text text-lighten-3" style="margin-left: 8%;">Correo: brunojular00@gmail.com </a></li>
            <li><a class="black-text text-lighten-3" style="margin-left: 8%;"></a></li>
          </ul>
        </div>

      </div>

    </div>
<!-- ----- -->

    <div class="divider" style="margin-top: 2vh; margin-bottom: 2vh;"></div>

</div>

</main>

<!-- ----- -->

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>